.fade-enter-active,
.fade-leave-active{
  transition:opacity 500ms
}
.fade-leave-to,
.fade-enter{
  opacity:0;
}
/* fade in only */
.fadeinonly-enter-active{
  transition: opacity 500ms;
}
.fadeinonly-enter{
  opacity:0;
}

.pagesfade-leave-active{
  transition: opacity 500ms
}
.pagesfade-enter-active{
  transition: opacity 500ms 500ms;
}
.pagesfade-leave-to,
.pagesfade-enter{
  opacity:0;
}